/*
* {
  border: 1px solid red;
}
*/

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(200, 15%, 85%);
}

.output {
  background-color: hsl(200, 40%, 95%);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.output > button {
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 5rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
}

.output > canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
